/* MAIN CSS FILE ONLY FOR THE GLOBAL USAGE  START */

/** global Design **/

.round-input {
    border-radius: 20px !important; 
    font-size: 20px !important;     
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.1) !important; 
    padding: 8px !important; 
    width: 35vh !important; 
    font-weight: 700 !important; 
}
.box-space{
    margin: 0 0 2.5vh 0  !important; 
}
.btn-full-width{
    width: 35vh !important; 
    background-color: #0276F9 !important; 
    border-color: #0276F9 !important; 
    color: white !important; 
    font-weight: bolder !important; 
    font-size: 20px !important;   
    padding: 8px !important;   
    height: auto !important; 
}
.btn-full-width:hover{
    width: 35vh !important; 
    background-color: #035abe !important; 
    border-color: #035abe !important; 
    color: white !important; 
    font-weight: bolder !important; 
    font-size: 20px !important;   
    padding: 8px !important;   
    height: auto !important; 
}
.round {
    border-radius: 20px !important;  
}
.shade {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.1) !important; 
}
.bold-font {
    font-weight: bolder;
}
.big-font {
    font-size: 40px;
}
.medium-font {
    font-size: 25px;
}
.user-name-font {
    font-weight: bolder;
    font-size: 12px;
}
.user-email-font {
    font-weight: lighter;
    font-size: 11px;
}
.small-font {
    font-weight: 500;
    font-size: 21px;
}
.user-font-color {
    color: blue;
    font-weight: bolder;
}
.highlight-font {
    color: goldenrod;
    font-weight: bolder;
}
.bold-font{
    font-weight: bolder;
}
/** global Design **/